<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.rockwellcollins.atc.resolute.analysis.external.resoluteExternalFunctionLibrary">
      <externalLibrary
            libraryClass="com.rockwellcollins.atc.resolute.stringlib.ResoluteStringFunctions"
            name="StringLib"
            typeClass="com.rockwellcollins.atc.resolute.stringlib.ResoluteStringFunctionsType">
      </externalLibrary>
   </extension>

</plugin>
