<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point
   		id="com.rockwellcollins.atc.resolute.analysis.external.resoluteExternalAnalysis"
  		name="Resolute External Analysis"
  		schema="schema/ResoluteExternalAnalysis.exsd"/>
   <extension-point id="com.rockwellcollins.atc.resolute.analysis.resoluteConfidenceAnalysis" name="ResoluteConfidenceAnalysis" schema="schema/ResoluteConfidenceAnalysis.exsd"/>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Resolute Action Set"
            visible="true"
            id="com.rockwellcollins.atc.resolute.actionSet">
         <menu
               label="Re&amp;solute"
               id="resoluteMenu">
            <separator
                  name="resoluteGroup">
            </separator>
         </menu>
         <action
               label="Resolute &amp;Confidence"
               icon="icons/confidence.png"
               class="com.rockwellcollins.atc.resolute.analysis.actions.ResoluteConfidence"
               tooltip="Generates assurance case with only claim text while calling external confidence plugins"
               menubarPath="resoluteMenu/resoluteGroup"
               toolbarPath="resoluteGroup"
               id="com.rockwellcollins.atc.resolute.actions.ResoluteConfidence"
               enablesFor="1">
               <enablement>
					<objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
				</enablement>
         </action>
         <action
               label="Resolute &amp;Verbose"
               icon="icons/verbose.png"
               class="com.rockwellcollins.atc.resolute.analysis.actions.ResoluteVerbose"
               tooltip="Generates verbose assurance case"
               menubarPath="resoluteMenu/resoluteGroup"
               toolbarPath="resoluteGroup"
               id="com.rockwellcollins.atc.resolute.actions.ResoluteVerbose"
               enablesFor="1">
               <enablement>
					<objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
				</enablement>
         </action>
         <action
               label="&amp;Resolute Claims"
               icon="icons/claims.png"
               class="com.rockwellcollins.atc.resolute.analysis.actions.ResoluteClaims"
               tooltip="Generates assurance case with only claim text"
               menubarPath="resoluteMenu/resoluteGroup"
               toolbarPath="resoluteGroup"
               id="com.rockwellcollins.atc.resolute.actions.ResoluteClaims"
               enablesFor="1">
               <enablement>
					<objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
				</enablement>
         </action>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.views">
  		<view id="com.rockwellcollins.atc.resolute.treeproofview"
          name="Tree Proof View"
          class="com.rockwellcollins.atc.resolute.ui.ResoluteExecutableExtensionFactory:com.rockwellcollins.atc.resolute.analysis.TreeProofView"/>
   </extension>

</plugin>
