<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point
   		id="com.rockwellcollins.atc.resolute.analysis.external.resoluteExternalAnalysis"
  		name="Resolute External Analysis"
  		schema="schema/ResoluteExternalAnalysis.exsd"/>
   <extension-point
        id="com.rockwellcollins.atc.resolute.analysis.resoluteConfidenceAnalysis"
        name="Resolute Confidence Analysis"
        schema="schema/ResoluteConfidenceAnalysis.exsd"/>
   <extension-point id="com.rockwellcollins.atc.resolute.analysis.external.resoluteExternalFunctionLibrary" name="Resolute External Function Library" schema="schema/ResoluteExternalFunctionLibrary.exsd"/>
        
    <extension point="org.eclipse.ui.views">
      <category
            id="com.rockwellcollins.atc.resolute.analysis"
            name="Resolute">
      </category>
      <view
          category="com.rockwellcollins.atc.resolute.analysis"
          id="com.rockwellcollins.atc.resolute.views.assuranceCaseView"
          icon="icons/claims.png"
          name="Assurance Case"
          class="com.rockwellcollins.atc.resolute.ui.ResoluteExecutableExtensionFactory:com.rockwellcollins.atc.resolute.analysis.views.AssuranceCaseView"/>
   </extension>
    
   <extension point="org.eclipse.ui.commands">
     <category
            id="com.rockwellcollins.atc.resolute.analysis.commands"
            name="Commands related to Resolute">
     </category>
     <command categoryId="com.rockwellcollins.atc.resolute.analysis.commands"
            id="com.rockwellcollins.atc.resolute.analysis.commands.rerunResolute"
            name="Re-run Resolute">
     </command>
     <command categoryId="com.rockwellcollins.atc.resolute.analysis.commands"
            id="com.rockwellcollins.atc.resolute.analysis.commands.resolute"
            name="Resolute">
     </command>
	 <command categoryId="com.rockwellcollins.atc.resolute.analysis.commands"
	           id="com.rockwellcollins.atc.resolute.analysis.commands.resolutePredefined" 
	          name="RESOLUTE Predefined">
	   <commandParameter id="com.rockwellcollins.atc.resolute.analysis.theorem" name="theorem"/>
	 </command>
   </extension>
     
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.rockwellcollins.atc.resolute.analysis.toolbars.main">
            <command
                  commandId="com.rockwellcollins.atc.resolute.analysis.commands.resolute"
                  icon="icons/claims.png"
                  id="com.rockwellcollins.atc.resolute.analysis.menus.resolute"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   

      <menuContribution
            allPopups="false"
            locationURI="popup:org.osate.ui.analysesOutlinePopup?after=additions">
         <command
                commandId="com.rockwellcollins.atc.resolute.analysis.commands.resolute"
                icon="icons/claims.png"
                id="com.rockwellcollins.atc.resolute.analysis.menus.resolute"
                mnemonic="r"
                style="push">
         </command>
         <menu
               icon="icons/claims.png"
               id="com.rockwellcollins.atc.resolute.analysis.menus.predefined"
               label="Predefined Theorems">
            <command
                  commandId="com.rockwellcollins.atc.resolute.analysis.commands.resolutePredefined"
                  icon="icons/claims.png"
                  id="com.rockwellcollins.atc.resolute.analysis.menus.resolutePredefined"
                  label="Check ARINC653"
                  style="push">
               <parameter
                     name="com.rockwellcollins.atc.resolute.analysis.theorem"
                     value="check_arinc653_compliance">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.rockwellcollins.atc.resolute.views.assuranceCaseView">
         <command
               commandId="com.rockwellcollins.atc.resolute.analysis.commands.rerunResolute"
               icon="icons/refresh.gif"
               label="Re-run Resolute"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.osate.ui.analysesMenu?after=additions">
         <command
               commandId="com.rockwellcollins.atc.resolute.analysis.commands.resolute"
               icon="icons/claims.png"
               id="com.rockwellcollins.atc.resolute.analysis.menus.resolute"
               mnemonic="r"
               style="push">
         </command>
         <menu
               icon="icons/claims.png"
               id="com.rockwellcollins.atc.resolute.analysis.menus.predefined"
               label="Predefined Theorems">
            <command
                  commandId="com.rockwellcollins.atc.resolute.analysis.commands.resolutePredefined"
                  icon="icons/claims.png"
                  id="com.rockwellcollins.atc.resolute.analysis.menus.resolutePredefined"
                  label="Check ARINC653"
                  style="push">
               <parameter
                     name="com.rockwellcollins.atc.resolute.analysis.theorem"
                     value="check_arinc653_compliance">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <command
               commandId="com.rockwellcollins.atc.resolute.analysis.commands.resolute"
               icon="icons/claims.png"
               id="com.rockwellcollins.atc.resolute.analysis.menus.resolute"
               mnemonic="r"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.rockwellcollins.atc.resolute.analysis.handlers.ResoluteHandler"
            commandId="com.rockwellcollins.atc.resolute.analysis.commands.resolute">
         <enabledWhen>
            <reference
                  definitionId="com.rockwellcollins.atc.resolute.analysis.expressions.isSingleOutlineSelection">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.rockwellcollins.atc.resolute.analysis.handlers.ResoluteHandler"
            commandId="com.rockwellcollins.atc.resolute.analysis.commands.resolutePredefined">
         <enabledWhen>
            <reference
                  definitionId="com.rockwellcollins.atc.resolute.analysis.expressions.isSingleOutlineSelection">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.rockwellcollins.atc.resolute.analysis.expressions.isSingleOutlineSelection">
         <or>
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode">
                  </instanceof>
               </iterate>
            </and>
         </with>
         <reference
               definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
         </reference>
         </or>
      </definition>
   </extension>
   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="resources/Resolute_Stdlib.aadl"
            id="com.rockwellcollins.atc.resolute.analysis.aadlcontribution4">
      </aadlcontribution>
   </extension>
</plugin>
