<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc-gen/html/user_guide_toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc-gen/html/reference_toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
