config APP_UDP
    bool "UDP Example by John and Andrew"
    default n
    depends on LIB_SEL4 && (LIB_MUSL_C || LIB_SEL4_C) && LIB_SEL4_VKA &&\
               LIB_SEL4_VMM && LIB_SEL4_UTILS && LIB_UTILS && LIB_SEL4_SIMPLE && LIB_SEL4_SIMPLE_STABLE && LIB_SEL4_PLAT_SUPPORT && LIB_LWIP
    select APP_CAMKES_EXECUTIVE
    help
        UDP Example by John and Andrew
