config APP_TEST12
    bool "AADL Test 12: active -> active threads using array send w/no dispatcher"
    default n
    select APP_CAMKES_EXECUTIVE
    help
        AADL Test 12: active -> active threads using array send w/no dispatcher. 
