<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.rockwellcollins.atc.resolute.analysis.external.resoluteExternalAnalysis">
      <externalAnalysis
      		name="consistency"
            typeClass="com.rockwellcollins.atc.resolute.consistency.ResoluteConsistencyAnalysisType"
            analysisClass="com.rockwellcollins.atc.resolute.consistency.ResoluteConsistencyAnalysis">
      </externalAnalysis>
   </extension>
</plugin>
