config APP_TEST2
    bool "AADL Test 2: active -> passive threads using struct send"
    default n
    select APP_CAMKES_EXECUTIVE
    help
        AADL Test 2: active -> passive threads using struct send. 
