<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="AADL to Sexp Commands"
            id="com.rockwellcollins.atc.aadl2sexp.commands.category">
      </category>
      <command
            name="AADL to Sexp"
            categoryId="com.rockwellcollins.atc.aadl2sexp.commands.category"
            id="com.rockwellcollins.atc.aadl2sexp.commands.aadl2sexpCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.rockwellcollins.atc.aadl2sexp.commands.aadl2sexpCommand"
            class="com.rockwellcollins.atc.aadl2sexp.handlers.Aadl2SexpHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.rockwellcollins.atc.aadl2sexp.toolbars.aadl2sexpToolbar">
            <command
                  commandId="com.rockwellcollins.atc.aadl2sexp.commands.aadl2sexpCommand"
                  icon="icons/sample.gif"
                  tooltip="AADL to Sexp"
                  id="com.rockwellcollins.atc.aadl2sexp.toolbars.aadl2sexpCommand">
            </command>
         </toolbar>
      </menuContribution>

      <menuContribution
            allPopups="false"
            locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
        <command
              commandId="com.rockwellcollins.atc.aadl2sexp.commands.aadl2sexpCommand"
              icon="icons/sample.gif"
              id="com.rockwellcollins.atc.aadl2sexp.menus.aadl2sexp"
              style="push">
        </command>
      </menuContribution>
   </extension>

</plugin>
