<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
		<actionSet
			id="edu.umn.cs.crisys.smaccm.aadl2camkes.actionSet"
			label="Aadl2Camkes Set"
			visible="true">
			<action
				id="edu.umn.cs.crisys.smaccm.aadl2camkes.AadlToCamkesAction.action"
				label="Translate AADL to CAmkES ..."
				tooltip="Translate AADL to CAmkES ..."
				class="edu.umn.cs.crisys.smaccm.aadl2camkes.Aadl2CamkesAction"
				menubarPath="menu.analyses/bottom.grp"
				enablesFor="1">
				<enablement>
					<objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
				</enablement>
			</action>
		</actionSet>
   </extension>

</plugin>
