<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.uah.rsesc.aadlsimulator.exceptionHandlers">
      <exceptionHandler
            class="edu.uah.rsesc.aadlsimulator.agree.ui.AGREESimulatorExceptionHandler">
         <exceptionType
               class="edu.uah.rsesc.aadlsimulator.agree.sim.AGREESimulatorException">
         </exceptionType>
      </exceptionHandler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.run?after=additions">
         <command
               commandId="edu.uah.rsesc.aadlsimulator.agree.ui.saveLustreCommand"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.menus.saveLustre"
               label="Save Simulation Lustre..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="edu.uah.rsesc.aadlsimulator.agree.ui.frameStateContainsLustre">
               </test>
            </visibleWhen>
         </command>
         <dynamic
               class="edu.uah.rsesc.aadlsimulator.agree.ui.menus.ExporterMenuContributionItem"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.dynamic3">
            <visibleWhen>
               <test
                     forcePluginActivation="true"
                     property="edu.uah.rsesc.aadlsimulator.ui.isRunning">
               </test>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="menu:edu.uah.rsesc.aadlsimulator.ui.views.variablesViewPart">
         <dynamic
               class="edu.uah.rsesc.aadlsimulator.agree.ui.menus.ExporterMenuContributionItem"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.dynamic3">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.rockwellcollins.atc.agree.analysis.popups.main">
         <separator
               name="edu.uah.rsesc.aadlsimulator.agree.ui.popup.separator"
               visible="true">
         </separator>
         <command
               commandId="edu.uah.rsesc.aadlsimulator.agree.ui.commands.simulateSingleLayer"
               style="push">
         </command>
         <command
               commandId="edu.uah.rsesc.aadlsimulator.agree.ui.commands.simulateMonolithically"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.rockwellcollins.atc.agree.analysis.menus.main?after=com.rockwellcollins.atc.agree.analysis.menus.saveAllWorkspaceContracts">
         <separator
               name="edu.uah.rsesc.aadlsimulator.agree.ui.menu.separator"
               visible="true">
         </separator>
         <command
               commandId="edu.uah.rsesc.aadlsimulator.agree.ui.commands.simulateSingleLayer"
               style="push">
         </command>
         <command
               commandId="edu.uah.rsesc.aadlsimulator.agree.ui.commands.simulateMonolithically"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.uah.rsesc.aadlsimulator.agree.ui.handlers.SaveLustreHandler"
            commandId="edu.uah.rsesc.aadlsimulator.agree.ui.saveLustreCommand">
      </handler>
      <handler
            class="edu.uah.rsesc.aadlsimulator.agree.ui.handlers.SimulateSingleLayerHandler"
            commandId="edu.uah.rsesc.aadlsimulator.agree.ui.commands.simulateSingleLayer">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <and>
                  <iterate>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="edu.uah.rsesc.aadlsimulator.ui.canStart">
                        </test>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="edu.uah.rsesc.aadlsimulator.agree.ui.handlers.SimulateMonolithicallyHandler"
            commandId="edu.uah.rsesc.aadlsimulator.agree.ui.commands.simulateMonolithically">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <and>
                  <iterate>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="edu.uah.rsesc.aadlsimulator.ui.canStart">
                        </test>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="edu.uah.rsesc.aadlsimulator.agree.ui.commands.category"
            name="AGREE Simulator Commands">
      </category>
      <command
            categoryId="edu.uah.rsesc.aadlsimulator.agree.ui.commands.category"
            id="edu.uah.rsesc.aadlsimulator.agree.ui.saveLustreCommand"
            name="Save Simulation Lustre...">
      </command>
      <command
            categoryId="edu.uah.rsesc.aadlsimulator.agree.ui.commands.category"
            id="edu.uah.rsesc.aadlsimulator.agree.ui.commands.simulateMonolithically"
            name="Simulate Monolithically">
      </command>
      <command
            categoryId="edu.uah.rsesc.aadlsimulator.agree.ui.commands.category"
            id="edu.uah.rsesc.aadlsimulator.agree.ui.commands.simulateSingleLayer"
            name="Simulate Single Layer">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="edu.uah.rsesc.aadlsimulator.agree.ui.AGREESimulationPropertyTester"
            id="edu.uah.rsesc.aadlsimulator.agree.ui.simulationPropertyTester"
            namespace="edu.uah.rsesc.aadlsimulator.agree.ui"
            properties="frameStateContainsLustre"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.rockwellcollins.atc.agree.analysis.cexextractor">
      <cexextractor
            class="edu.uah.rsesc.aadlsimulator.agree.ui.CounterexampleLoaderMonolithic"
            id="edu.uah.rsesc.aadlsimulator.agree.ui.counterexampleLoaderMonolithic"
            pluginName="edu.uah.rsesc.aadlsimulator.agree.ui.counterexampleLoaderMonolithic">
      </cexextractor>
      <cexextractor
            class="edu.uah.rsesc.aadlsimulator.agree.ui.CounterexampleLoaderSingleLayer"
            id="edu.uah.rsesc.aadlsimulator.agree.ui.counterexampleLoaderSingleLayer"
            pluginName="edu.uah.rsesc.aadlsimulator.agree.ui.counterexampleLoaderSingleLayer">
      </cexextractor>
   </extension>
   <extension
         point="com.rockwellcollins.atc.tcg.tcgextractor">
      <tcgextractor
            class="edu.uah.rsesc.aadlsimulator.agree.ui.TestCaseLoader"
            id="edu.uah.rsesc.aadlsimulator.agree.ui.testcaseLoader"
            pluginName="TestCaseLoader">
      </tcgextractor>
   </extension>
   <extension
         point="edu.uah.rsesc.aadlsimulator.ui.commands">
      <command
            class="edu.uah.rsesc.aadlsimulator.agree.ui.commands.GoToPropertyCommand">
      </command>
      <command
            class="edu.uah.rsesc.aadlsimulator.agree.ui.commands.TogglePropertyEnablementCommand">
      </command>
   </extension>
</plugin>
