<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="edu.uah.rsesc.aadlsimulator.ui.commands" name="AADL Simulator Commands" schema="schema/edu.uah.rsesc.aadlsimulator.ui.commands.exsd"/>
	<!-- Launch Configuration Type User Interface Extensions -->
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="edu.uah.rsesc.aadlsimulator.launch.simulation"
	        class="edu.uah.rsesc.aadlsimulator.ui.launch.SimulationTabGroup"
	        id="edu.uah.rsesc.aadlsimulator.ui.launch.simulationTabGroup">
        <launchMode
              mode="run">
        </launchMode>
	    </launchConfigurationTabGroup>
	</extension>
	
	<extension
       id="edu.uah.rsesc.aadlsimulator.ui.services.SimulatorUIExtensionService$Factory"
       point="org.eclipse.debug.ui.launchShortcuts">
	    <shortcut
           class="edu.uah.rsesc.aadlsimulator.ui.launch.SimulationLaunchShortcut"
           icon="icons/aadl_sim.png"
           id="edu.uah.rsesc.aadlsimulator.ui.launch.simulationLaunchShortcut"
           label="AADL Simulation"
           modes="run, debug">
	        <configurationType
	              id="edu.uah.rsesc.aadlsimulator.launch.simulation">
	        </configurationType>
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1"/>
						<iterate>
							<or>
								<test property="edu.uah.rsesc.aadlsimulator.ui.canStart" forcePluginActivation="true"/>
							</or>
						</iterate>
					</with>
				</enablement>
	        </contextualLaunch>
	    </shortcut>
 	</extension>
 	
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
        class="edu.uah.rsesc.aadlsimulator.ui.SimulationPropertyTester"
        id="edu.uah.rsesc.aadlsimulator.ui.simulationPropertyTester"
        namespace="edu.uah.rsesc.aadlsimulator.ui"
        properties="canStart, canStepForward, canStepBackward, isRunning"
        type="java.lang.Object">
		</propertyTester>
	</extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="edu.uah.rsesc.aadlsimulator.launch.simulation"
          icon="icons/aadl_sim.png"
          id="edu.uah.rsesc.aadlsimulator.ui.launchConfigurationTypeImage1">
    </launchConfigurationTypeImage>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="edu.uah.rsesc.aadlsimulator.ui.views.category"
          class="edu.uah.rsesc.aadlsimulator.ui.views.VariablesViewPart"
          id="edu.uah.rsesc.aadlsimulator.ui.views.variablesViewPart"
          name="Simulation Variables"
          restorable="true">
    </view>    
    <view
          allowMultiple="false"
          category="edu.uah.rsesc.aadlsimulator.ui.views.category"
          class="edu.uah.rsesc.aadlsimulator.ui.views.StatusViewPart"
          id="edu.uah.rsesc.aadlsimulator.ui.views.statusViewPart"
          name="Simulation Status"
          restorable="true">
    </view>
    <view
          allowMultiple="false"
          category="edu.uah.rsesc.aadlsimulator.ui.views.category"
          class="edu.uah.rsesc.aadlsimulator.ui.views.PropertiesViewPart"
          id="edu.uah.rsesc.aadlsimulator.ui.views.propertiesViewPart"
          name="Simulation Properties"
          restorable="true">
    </view>
    <category
          id="edu.uah.rsesc.aadlsimulator.ui.views.category"
          name="AADL Simulator">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="edu.uah.rsesc.aadlsimulator.ui.perspective.SimulatorPerspectiveFactory"
          id="edu.uah.rsesc.aadlsimulator.ui.SimulatorPerspective"
          name="AADL Simulator">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <category
          id="edu.uah.rsesc.aadlsimulator.ui.commands.category"
          name="AADL Simulator">
    </category>
    <command
          categoryId="edu.uah.rsesc.aadlsimulator.ui.commands.category"
          id="edu.uah.rsesc.aadlsimulator.ui.commands.stepForward"
          name="Step Forward">
    </command>
    <command
          categoryId="edu.uah.rsesc.aadlsimulator.ui.commands.category"
          id="edu.uah.rsesc.aadlsimulator.ui.commands.stepBackward"
          name="Step Backward">
    </command>
    <command
          categoryId="edu.uah.rsesc.aadlsimulator.ui.commands.category"
          id="edu.uah.rsesc.aadlsimulator.ui.commands.stop"
          name="Stop">
    </command>
    <command
          categoryId="edu.uah.rsesc.aadlsimulator.ui.commands.category"
          id="edu.uah.rsesc.aadlsimulator.ui.commands.start"
          name="Simulate">
    </command>
    <command
    	categoryId="edu.uah.rsesc.aadlsimulator.ui.commands.category"
    	id="edu.uah.rsesc.aadlsimulator.ui.commands.stepForwardMultipleTimes"
    	name="Step Forward Multiple Times">
    </command>
    <command
          categoryId="edu.uah.rsesc.aadlsimulator.ui.commands.category"
          id="edu.uah.rsesc.aadlsimulator.ui.commands.openGraphicalView"
          name="Open Graphical View">
    </command>
    <command
    	categoryId="edu.uah.rsesc.aadlsimulator.ui.commands.category"
    	id="edu.uah.rsesc.aadlsimulator.ui.commands.openVariablesChart"
    	name="Open Variables Chart">
    </command>
    <command
    	categoryId="edu.uah.rsesc.aadlsimulator.ui.commands.category"
    	id="edu.uah.rsesc.aadlsimulator.ui.commands.resetInputConstraints"
    	name="Reset Input Constraints">
    </command>
    <command
          categoryId="edu.uah.rsesc.aadlsimulator.ui.commands.category"
          defaultHandler="edu.uah.rsesc.aadlsimulator.ui.handlers.ToggleShowOnlyErrorsAndWarningsHandler"
          id="edu.uah.rsesc.aadlsimulator.ui.commands.toggleShowOnlyErrorsAndWarnings"
          name="Show Only Errors/Warnings">
       <state
             class="org.eclipse.ui.handlers.RegistryToggleState:false"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
    <command
          categoryId="edu.uah.rsesc.aadlsimulator.ui.commands.category"
          id="edu.uah.rsesc.aadlsimulator.ui.commands.simulatePossibilities"
          name="Simulate Possibilities...">
    </command>
    <command
          id="edu.uah.rsesc.aadlsimulator.ui.commands.showInSimulationVariablesView"
          name="Show in Simulation Variables View">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="edu.uah.rsesc.aadlsimulator.ui.handlers.StepBackwardHandler"
          commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stepBackward">
       <enabledWhen>
          <test
                forcePluginActivation="true"
                property="edu.uah.rsesc.aadlsimulator.ui.canStepBackward">
          </test>
       </enabledWhen>
    </handler>
    <handler
          class="edu.uah.rsesc.aadlsimulator.ui.handlers.StepForwardHandler"
          commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stepForward">
       <enabledWhen>
          <test
                forcePluginActivation="true"
                property="edu.uah.rsesc.aadlsimulator.ui.canStepForward">
          </test>
       </enabledWhen>
    </handler>
    <handler
    		class="edu.uah.rsesc.aadlsimulator.ui.handlers.StepForwardMultipleTimesHandler"
    		commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stepForwardMultipleTimes">
    	<enabledWhen>
    		<test
    			forcePluginActivation="true"
    			property="edu.uah.rsesc.aadlsimulator.ui.canStepForward">
    		</test>
    	</enabledWhen>
    </handler>
    <handler
          class="edu.uah.rsesc.aadlsimulator.ui.handlers.StartHandler"
          commandId="edu.uah.rsesc.aadlsimulator.ui.commands.start">
       <enabledWhen>
          <with
                variable="selection">
             <count
                   value="1">
             </count>
             <and>
                <iterate>
                   <or>
                      <test
                            forcePluginActivation="true"
                            property="edu.uah.rsesc.aadlsimulator.ui.canStart">
                      </test>
                   </or>
                </iterate>
			</and>
          </with>
       </enabledWhen>
    </handler>
    <handler
          class="edu.uah.rsesc.aadlsimulator.ui.handlers.StopHandler"
          commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stop">
       <enabledWhen>
          <test
                forcePluginActivation="true"
                property="edu.uah.rsesc.aadlsimulator.ui.isRunning">
          </test>
       </enabledWhen>
    </handler>
    <handler
          class="edu.uah.rsesc.aadlsimulator.ui.handlers.OpenGraphicalViewHandler"
          commandId="edu.uah.rsesc.aadlsimulator.ui.commands.openGraphicalView">
       <enabledWhen>
          <test
                property="edu.uah.rsesc.aadlsimulator.ui.isRunning">
          </test>
       </enabledWhen>
    </handler>
    <handler
          class="edu.uah.rsesc.aadlsimulator.ui.handlers.OpenVariablesChartHandler"
          commandId="edu.uah.rsesc.aadlsimulator.ui.commands.openVariablesChart">
       <enabledWhen>
          <test
                property="edu.uah.rsesc.aadlsimulator.ui.canStepBackward">
          </test>
       </enabledWhen>
    </handler>
     <handler
          class="edu.uah.rsesc.aadlsimulator.ui.handlers.ResetInputConstraintsHandler"
          commandId="edu.uah.rsesc.aadlsimulator.ui.commands.resetInputConstraints">
       <enabledWhen>
          <test
                property="edu.uah.rsesc.aadlsimulator.ui.canStepForward">
          </test>
       </enabledWhen>
    </handler>
    <handler
          class="edu.uah.rsesc.aadlsimulator.ui.handlers.SimulatePossibilitiesHandler"
          commandId="edu.uah.rsesc.aadlsimulator.ui.commands.simulatePossibilities">
       <enabledWhen>
          <test
                property="edu.uah.rsesc.aadlsimulator.ui.canStepForward">
          </test>
       </enabledWhen>
    </handler>
    <handler
          class="edu.uah.rsesc.aadlsimulator.ui.handlers.ShowInSimulationVariablesViewHandler"
          commandId="edu.uah.rsesc.aadlsimulator.ui.commands.showInSimulationVariablesView">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
   <menuContribution
          locationURI="menu:org.eclipse.ui.run?after=additions">
          <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stop"
                id="edu.uah.rsesc.aadlsimulator.ui.menus.stop">
                <visibleWhen>
                	<test
               			forcePluginActivation="true"
               			property="edu.uah.rsesc.aadlsimulator.ui.isRunning">
          			</test>
                </visibleWhen>
          </command>
          <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stepForward"
                id="edu.uah.rsesc.aadlsimulator.ui.menus.stepForward">
                <visibleWhen>
                	<test
               			forcePluginActivation="true"
               			property="edu.uah.rsesc.aadlsimulator.ui.isRunning">
          			</test>
                </visibleWhen>
          </command>
          <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stepBackward"
                id="edu.uah.rsesc.aadlsimulator.ui.menus.stepBackward">
                <visibleWhen>
                	<test
               			forcePluginActivation="true"
               			property="edu.uah.rsesc.aadlsimulator.ui.isRunning">
          			</test>
                </visibleWhen>
          </command>
           <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stepForwardMultipleTimes"
                id="edu.uah.rsesc.aadlsimulator.ui.menus.stepForwardMultipleTimes"
                label="Step Forward Multiple Times...">
             <visibleWhen>
                <test
                      forcePluginActivation="true"
                      property="edu.uah.rsesc.aadlsimulator.ui.canStepForward">
                </test>
             </visibleWhen>
          </command>
          <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.simulatePossibilities"
                id="edu.uah.rsesc.aadlsimulator.ui.menus.simulatePossibilities"
                label="Simulate Possibilities...">
             <visibleWhen>
                <test
                      forcePluginActivation="true"
                      property="edu.uah.rsesc.aadlsimulator.ui.canStepForward">
                </test>
             </visibleWhen>
          </command>
    </menuContribution>
    <menuContribution allPopups="false" locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
    	<command
        	commandId="edu.uah.rsesc.aadlsimulator.ui.commands.start"
            id="edu.uah.rsesc.aadlsimulator.ui.menus.start">
        </command>
	</menuContribution>
    <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="edu.uah.rsesc.aadlsimulator.ui.toolbars.simulatorToolbar"
             label="AADL Simulator">
          <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.start"
                icon="icons/start.png"
                id="edu.uah.rsesc.aadlsimulator.ui.toolbars.simulatorToolbar.start"
                tooltip="Simulate">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <or>
                      <equals
                            value="edu.uah.rsesc.aadlsimulator.ui.SimulatorPerspective">
                      </equals>
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </or>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stop"
                icon="icons/stop.png"
                id="edu.uah.rsesc.aadlsimulator.ui.toolbars.simulatorToolbar.stop"
                tooltip="Stop">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <or>
                      <equals
                            value="edu.uah.rsesc.aadlsimulator.ui.SimulatorPerspective">
                      </equals>
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </or>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stepBackward"
                icon="icons/step_backwards.png"
                id="edu.uah.rsesc.aadlsimulator.ui.toolbars.simulatorToolbar.stepBackward"
                tooltip="Step Backward">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <or>
                      <equals
                            value="edu.uah.rsesc.aadlsimulator.ui.SimulatorPerspective">
                      </equals>
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </or>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stepForward"
                icon="icons/step_forwards.png"
                id="edu.uah.rsesc.aadlsimulator.ui.toolbars.simulatorToolbar.stepForward"
                tooltip="Step Forward">
             <visibleWhen
                   checkEnabled="true">
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <or>
                      <equals
                            value="edu.uah.rsesc.aadlsimulator.ui.SimulatorPerspective">
                      </equals>
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </or>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.stepForwardMultipleTimes"
                icon="icons/step_forward_mult_times.png"
                tooltip="Step Forward Multiple Times">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <or>
                      <equals
                            value="edu.uah.rsesc.aadlsimulator.ui.SimulatorPerspective">
                      </equals>
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </or>
                   <or>
                      <equals
                            value="edu.uah.rsesc.aadlsimulator.ui.SimulatorPerspective">
                      </equals>
                   </or>
                </with>
             </visibleWhen>
          </command>
       </toolbar>
       <toolbar
             id="edu.uah.rsesc.aadlsimulator.ui.simulationPossibilities"
             label="Simulation Possibilities...">
          <command
                commandId="edu.uah.rsesc.aadlsimulator.ui.commands.simulatePossibilities"
                icon="icons/sim_possibilities.png"
                tooltip="Simulate Possibilites...">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeWorkbenchWindow.activePerspective">
                   <or>
                      <equals
                            value="edu.uah.rsesc.aadlsimulator.ui.SimulatorPerspective">
                      </equals>
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </or>
                   <or>
                      <equals
                            value="edu.uah.rsesc.aadlsimulator.ui.SimulatorPerspective">
                      </equals>
                   </or>
                </with>
             </visibleWhen>
          </command>
       </toolbar>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:edu.uah.rsesc.aadlsimulator.ui.views.variablesViewPart">
       <command
             commandId="edu.uah.rsesc.aadlsimulator.ui.commands.openGraphicalView"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:edu.uah.rsesc.aadlsimulator.ui.views.variablesViewPart">
       <command
             commandId="edu.uah.rsesc.aadlsimulator.ui.commands.openVariablesChart"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:edu.uah.rsesc.aadlsimulator.ui.views.variablesViewPart">
       <command
             commandId="edu.uah.rsesc.aadlsimulator.ui.commands.resetInputConstraints"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:edu.uah.rsesc.aadlsimulator.ui.views.propertiesViewPart">
       <command
             commandId="edu.uah.rsesc.aadlsimulator.ui.commands.toggleShowOnlyErrorsAndWarnings"
             style="toggle">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:org.osate.ge.editor.AgeDiagramEditor?after=third_party">
       <command
             commandId="edu.uah.rsesc.aadlsimulator.ui.commands.showInSimulationVariablesView"
             style="push">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="edu.uah.rsesc.aadlsimulator.ui.SimulatorPerspective">
       <actionSet
             id="org.eclipse.debug.ui.launchActionSet">
       </actionSet>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.osate.ge.tooltips">
    <tooltipContributor
          class="edu.uah.rsesc.aadlsimulator.ui.SimulatorTooltipContributor"
          priority="50">
    </tooltipContributor>
 </extension>
 <extension
       point="org.eclipse.ui.services">
    <serviceFactory
          factoryClass="edu.uah.rsesc.aadlsimulator.ui.services.SimulatorUIExtensionService$Factory">
       <service
             serviceClass="edu.uah.rsesc.aadlsimulator.ui.services.SimulatorUIExtensionService"></service>
    </serviceFactory>
 </extension>
 
   <extension
         point="edu.uah.rsesc.aadlsimulator.ui.commands">
      <command
            class="edu.uah.rsesc.aadlsimulator.ui.commands.GoToElementDeclarationCommand">
      </command>
   </extension>
</plugin>
