config APP_TEST16_SHARED_DATA
    bool "AADL generic message for implementation test16_shared_data"
    default n
    select APP_CAMKES_EXECUTIVE
    help
        AADL generic message for implementation test16_shared_data. 