<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
		<actionSet
			id="edu.umn.cs.crisys.smaccm.aadl2rtos.actionSet"
			label="Aadl2Rtos Set"
			visible="true">
			<action
				id="edu.umn.cs.crisys.smaccm.aadl2rtos.AadlToRtosAction.action"
				label="Translate AADL to RTOS ..."
				tooltip="Translate AADL to RTOS ..."
				class="edu.umn.cs.crisys.smaccm.aadl2rtos.Aadl2RtosAction"
				menubarPath="menu.analyses/bottom.grp"
				enablesFor="1">
				<enablement>
					<objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
				</enablement>
			</action>
		</actionSet>
   </extension>
   <extension
     point="org.osate.pluginsupport.aadlcontribution">
     <aadlcontribution
        file="aadl2rtos_resource/SMACCM_SYS.aadl"
        id="com.rockwellcollins.atc.aadl2rtos.aadlcontribution1">
     </aadlcontribution>
   </extension>
</plugin>
