<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.rockwellcollins.com/atc/resolute/Resolute" 
       class = "com.rockwellcollins.atc.resolute.resolute.ResolutePackage"
       genModel = "com/rockwellcollins/atc/resolute/Resolute.genmodel" /> 	
  </extension>
  <extension
    point="org.osate.pluginsupport.aadlcontribution">
    <aadlcontribution
        file="resources/Resolute_Stdlib.aadl"
        id="com.rockwellcollins.atc.resolute.aadlcontribution1">
      </aadlcontribution>
   </extension>
</plugin>