config APP_TEST3
    bool "AADL Test 3: active -> passive threads using array send"
    default n
    select APP_CAMKES_EXECUTIVE
    help
        AADL Test 3: active -> passive threads using array send. 
