config APP_TEST_IRQ1
    bool "AADL Test IRQ 1: active -> passive threads using scalar send and IRQ"
    default n
    select APP_CAMKES_EXECUTIVE
    help
        AADL Test 1: active -> passive threads using scalar send and IRQ. 
