<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.osate.ge.editor.AgeDiagramEditor">
         <propertyTab
               afterTab="org.osate.ge.ui.properties.tabs.aadl"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.agree"
               indented="false"
               label="AGREE">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.agree"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.assertions"
               indented="true"
               label="Assertions">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.assertions"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.assumptions"
               indented="true"
               label="Assumptions">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.assumptions"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.guarantees"
               indented="true"
               label="Guarantees">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.guarantees"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.constants"
               indented="true"
               label="Constants">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.constants"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.enumerations"
               indented="true"
               label="Enumerations">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.enumerations"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.equations"
               indented="true"
               label="Equations">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.equations"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.lemmas"
               indented="true"
               label="Lemmas">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.equations"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.linearizationDefinitions"
               indented="true"
               label="Linearization Definitions">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.linearizationDefinitions"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.nodeDefinitions"
               indented="true"
               label="Node Definitions">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.nodeDefinitions"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.properties"
               indented="true"
               label="Properties">
         </propertyTab>
         <propertyTab
               afterTab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.properties"
               category="org.osate.ge.contributions"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.recordDefinitions"
               indented="true"
               label="Record Definitions">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.osate.ge.editor.AgeDiagramEditor">
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.AgreePropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.AgreePropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.agree"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.agree">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.AssertionsPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.AssertionsPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.assertions"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.assertions">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.AssumptionsPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.AssumptionsPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.assumptions"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.assumptions">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.GuaranteesPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.GuaranteesPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.guarantees"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.guarantees">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.ConstantsPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.ConstantsPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.constants"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.constants">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.EnumerationsPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.EnumerationsPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.enumerations"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.enumerations">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.EquationsPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.EquationsPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.equations"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.equations">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.LemmasPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.LemmasPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.lemmas"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.lemmas">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.LinearizationDefinitionsPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.LinearizationDefinitionsPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.linearizationDefinitions"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.linearizationDefinitions">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.NodeDefinitionsPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.NodeDefinitionsPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.nodeDefinitions"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.nodeDefinitions">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.PropertiesPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.PropertiesPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.properties"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.properties">
         </propertySection>
         <propertySection
               class="edu.uah.rsesc.agree.ge.ui.properties.RecordDefinitionsPropertySection"
               filter="edu.uah.rsesc.agree.ge.ui.properties.RecordDefinitionsPropertySection$Filter"
               id="edu.uah.rsesc.aadlsimulator.agree.ui.propertySections.recordDefinitions"
               tab="edu.uah.rsesc.aadlsimulator.agree.ui.propertyTabs.recordDefinitions">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.osate.ge.tooltips">
      <tooltipContributor
            class="edu.uah.rsesc.agree.ge.ui.tooltips.SpecStatementTooltip"
            priority="1">
      </tooltipContributor>
   </extension>
</plugin>
