<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Commands related to AGREE Code Generation"
            id="com.rockwellcollins.atc.agree.codegen.commands">
      </category>
     <command categoryId="com.rockwellcollins.atc.agree.codegen.commands"
           description="Generate Matlab Function for the contract of the selected component"
           id="com.rockwellcollins.atc.agree.codegen.commands.genCodeSingle"
           name="Generate Matlab Function Single Layer">
     </command>    
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="AGREE"
               mnemonic="g"
               id="com.rockwellcollins.atc.agree.analysis.menus.main">
            <command
                  commandId="com.rockwellcollins.atc.agree.codegen.commands.genCodeSingle"
                  icon="icons/layer.png"
                  id="com.rockwellcollins.atc.agree.codegen.commands.genCodeSingle"
                  mnemonic="G"
                  style="push">       
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.rockwellcollins.atc.agree.codegen.toolbars.main">
            <command
                  commandId="com.rockwellcollins.atc.agree.codegen.commands.genCodeSingle"
                  icon="icons/layer.png"
                  tooltip="Generate Matlab Function Single Layer"
                  id="com.rockwellcollins.atc.agree.codegen.commands.genCodeSingle"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
         <menu
               id="com.rockwellcollins.atc.agree.analysis.popups.main"
               label="AGREE"
               mnemonic="g">
            <command
                  commandId="com.rockwellcollins.atc.agree.codegen.commands.genCodeSingle"
                  icon="icons/layer.png"
                  id="com.rockwellcollins.atc.agree.codegen.commands.genCodeSingle"
                  mnemonic="G"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.rockwellcollins.atc.agree.codegen.commands.genCodeSingle"
            class="com.rockwellcollins.atc.agree.codegen.handlers.MatlabFunctionHandler">
      	 <enabledWhen>
            <reference
                  definitionId="com.rockwellcollins.atc.agree.analysis.expressions.isSingleOutlineSelection">
            </reference>
         </enabledWhen>         
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.rockwellcollins.atc.agree.analysis.expressions.isSingleOutlineSelection">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
</plugin>
