config APP_TEST13
    bool "AADL Test 13: active -> passive threads using pure event"
    default n
    select APP_CAMKES_EXECUTIVE
    help
        AADL Test 13: active -> passive threads using pure event. 
