config APP_TEST15
    bool "AADL Test 15: active -> active threads w/out dispatcher using pure event"
    default n
    select APP_CAMKES_EXECUTIVE
    help
        AADL Test 15: active -> active threads w/out dispatcher using pure event. 
