config APP_SMACCMPILOT_TK1
    bool "Smaccmpilot for TK1"
    depends on LIB_SEL4 && LIB_MUSL_C && LIB_SEL4_VKA && LIB_SEL4_ALLOCMAN && LIB_SEL4_PLAT_SUPPORT && \
               LIB_PLATSUPPORT && LIB_SEL4_VSPACE && LIB_ELF && LIB_SEL4_UTILS && LIB_SEL4_SIMPLE && \
               LIB_UTILS && LIB_SEL4_SIMPLE_DEFAULT && LIB_CPIO && LIB_SEL4_SYNC && LIB_SEL4_DEBUG && \
               LIB_SEL4_DMA && LIB_USB

    default n
    select APP_CAMKES_EXECUTIVE
