<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="AGREE Action Set"
            visible="true"
            id="com.rockwellcollins.atc.agree.analysis.actionSet">
         <menu
               label="A&amp;GREE Menu"
               id="agreeMenu">
            <separator
                  name="agreeMenu">
            </separator>
         </menu>
          <action
               label="Verify &amp;All System Layers"
               icon="icons/layers.png"
               class="com.rockwellcollins.atc.agree.analysis.actions.VerifyAll"
               tooltip="Verify the contracts of all layers from the currently selected component and below"
               menubarPath="agreeMenu/agreeGroup"
               toolbarPath="agreeGroup"
               id="com.rockwellcollins.atc.agree.analysis.actions.VerifyAll"
               enablesFor="1">
               <enablement>
					<objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
				</enablement>
         </action>
         <action
               label="Verify &amp;Single Layer"
               icon="icons/layer.png"
               class="com.rockwellcollins.atc.agree.analysis.actions.VerifySingle"
               tooltip="Verify only the contract of the currently selected component"
               menubarPath="agreeMenu/agreeGroup"
               toolbarPath="agreeGroup"
               id="com.rockwellcollins.atc.agree.analysis.actions.VerifySingle"
               enablesFor="1">
               <enablement>
					<objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
				</enablement>
         </action>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.views">
        <view id="com.rockwellcollins.atc.agree.analysis.agreeSingleResultsView"
             name="AGREE Single Layer"
          class="com.rockwellcollins.atc.agree.analysis.AgreeSingleResultsView"
          icon="icons/layer.png"/>
   </extension>
   <extension point="org.eclipse.ui.views">
        <view id="com.rockwellcollins.atc.agree.analysis.agreeMultipleResultsView"
             name="AGREE All Layers"
          class="com.rockwellcollins.atc.agree.analysis.AgreeMultipleResultsView"
          icon="icons/layers.png"/>
   </extension>
</plugin>
