<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cexextractor" name="Counter Example Extractor" schema="schema/cexextractor.exsd"/>
   <extension-point id="agreeautomater" name="Agree Automater" schema="schema/agreeautomater.exsd"/>

   
   <extension point="org.eclipse.ui.views">
      <category
            id="com.rockwellcollins.atc.agree.analysis"
            name="AGREE">
      </category>
        <view
              category="com.rockwellcollins.atc.agree.analysis"
              class="com.rockwellcollins.atc.agree.analysis.views.AgreeResultsView"
              icon="icons/layers.png"
              id="com.rockwellcollins.atc.agree.analysis.views.agreeResultsView"
              name="AGREE Results"/>
        <view
              category="com.rockwellcollins.atc.agree.analysis"
              class="com.rockwellcollins.atc.agree.analysis.views.AgreeCounterexampleView"
              icon="icons/counterexample.png"
              id="com.rockwellcollins.atc.agree.analysis.views.agreeCounterexampleView"
              name="AGREE Counterexample"/>
   </extension>
  
   <extension point="org.eclipse.ui.commands">
      <category
            id="com.rockwellcollins.atc.agree.analysis.commands"
            name="Commands related to AGREE">
      </category>     
      <command categoryId="com.rockwellcollins.atc.agree.analysis.commands"
            description="Re-run last AGREE analysis"
            id="com.rockwellcollins.atc.agree.analysis.commands.rerunAgree"
            name="Re-run AGREE Analysis">
     </command>
     <command categoryId="com.rockwellcollins.atc.agree.analysis.commands"
            description="Terminate the current AGREE analysis"
            id="com.rockwellcollins.atc.agree.analysis.commands.terminate"
            name="Terminate One AGREE Analysis">
     </command>     
     <command categoryId="com.rockwellcollins.atc.agree.analysis.commands"
            description="Terminate all AGREE analyses"
            id="com.rockwellcollins.atc.agree.analysis.commands.terminateAll"
            name="Terminate All AGREE Analyses">
     </command>
     <command categoryId="com.rockwellcollins.atc.agree.analysis.commands"
           description="Verify the contract of the selected component"
           id="com.rockwellcollins.atc.agree.analysis.commands.verifySingle"
           name="Verify Single Layer">
     </command>
     <command
           categoryId="com.rockwellcollins.atc.agree.analysis.commands"
           description="Verify the contracts selected component and everything below"
           id="com.rockwellcollins.atc.agree.analysis.commands.verifyAll"
           name="Verify All Layers">
     </command>
     <command
           categoryId="com.rockwellcollins.atc.agree.analysis.commands"
           description="Runs realizability analysis"
           id="com.rockwellcollins.atc.agree.analysis.commands.verifyRealize"
           name="Check Realizability">
     </command>
     <command
           categoryId="com.rockwellcollins.atc.agree.analysis.commands"
           description="Verify the contract of the selected component using the contracts of all of the components descendants"
           id="com.rockwellcollins.atc.agree.analysis.commands.verifyMonolithic"
           name="Verify Monolithically">
     </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.rockwellcollins.atc.agree.analysis.views.agreeResultsView">
         <command
               commandId="com.rockwellcollins.atc.agree.analysis.commands.rerunAgree"
               icon="icons/refresh.gif"
               label="Re-run AGREE Analysis"
               style="push">
         </command>
         <command
               commandId="com.rockwellcollins.atc.agree.analysis.commands.terminate"
               icon="icons/terminate.png"
               label="Terminate"
               style="push">
         </command>
         <command
               commandId="com.rockwellcollins.atc.agree.analysis.commands.terminateAll"
               icon="icons/terminateAll.png"
               label="Terminate All"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.rockwellcollins.atc.agree.analysis.menus.main"
               label="AGREE"
               mnemonic="g">
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifySingle"
                  icon="icons/layer.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifySingle"
                  mnemonic="s"
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyAll"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyAll"
                  mnemonic="a"
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyRealize"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyRealize"
                  mnemonic="a"
                  style="push">
			</command>
			<command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyMonolithic"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyMonolithic"
                  mnemonic="a"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.rockwellcollins.atc.agree.analysis.toolbars.main">
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifySingle"
                  icon="icons/layer.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifySingle"
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyAll"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyAll"
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyRealize"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyRealize"
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyMonolithic"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyMonolithic"
                  mnemonic="a"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
         <menu
               id="com.rockwellcollins.atc.agree.analysis.popups.main"
               label="AGREE"
               mnemonic="g">
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifySingle"
                  icon="icons/layer.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifySingle"
                  mnemonic="s"
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyAll"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyAll"
                  mnemonic="a"
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyRealize"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyRealize"
                  mnemonic="a"
                  style="push">
            </command>
			<command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyMonolithic"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyMonolithic"
                  mnemonic="a"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               id="com.rockwellcollins.atc.agree.analysis.popups.texteditor"
               label="AGREE"
               mnemonic="g">          
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifySingle"
                  icon="icons/layer.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifySingle"
                  mnemonic="s"
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyAll"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyAll"
                  mnemonic="a"
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyRealize"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyRealize"
                  mnemonic="a"
                  style="push">
			</command>
			<command
                  commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyMonolithic"
                  icon="icons/layers.png"
                  id="com.rockwellcollins.atc.agree.analysis.menus.verifyMonolithic"
                  mnemonic="a"
                  style="push">
            </command>
   <visibleWhen
         checkEnabled="false">
      <reference
            definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
      </reference>
   </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.rockwellcollins.atc.agree.analysis.handlers.VerifySingleHandler"
            commandId="com.rockwellcollins.atc.agree.analysis.commands.verifySingle">
         <enabledWhen>
            <reference
                  definitionId="com.rockwellcollins.atc.agree.analysis.expressions.eObjectSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.rockwellcollins.atc.agree.analysis.handlers.VerifyAllHandler"
            commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyAll">
         <enabledWhen>
            <reference
                  definitionId="com.rockwellcollins.atc.agree.analysis.expressions.eObjectSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.rockwellcollins.atc.agree.analysis.handlers.VerifyRealizabilityHandler"
            commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyRealize">
            <enabledWhen>
            <reference
                  definitionId="com.rockwellcollins.atc.agree.analysis.expressions.eObjectSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.rockwellcollins.atc.agree.analysis.handlers.VerifyMonolithicHandler"
            commandId="com.rockwellcollins.atc.agree.analysis.commands.verifyMonolithic">
         <enabledWhen>
            <reference
                  definitionId="com.rockwellcollins.atc.agree.analysis.expressions.eObjectSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.rockwellcollins.atc.agree.analysis.expressions.eObjectSelected">
         <or>
	         <with
	               variable="selection">
	            <and>
	               <count
	                     value="1">
	               </count>
	               <iterate
	                     ifEmpty="false"
	                     operator="or">
	                  <instanceof
	                        value="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode">
	                  </instanceof>
	               </iterate>
	            </and>
	         </with>
          <reference definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
          </reference>
         </or>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.rockwellcollins.atc.agree.Agree"
            class="com.rockwellcollins.atc.agree.analysis.preferences.AgreePreferencePage"
            id="com.rockwellcollins.atc.agree.analysis.preferences.AgreePreferencePage"
            name="Analysis">
            <keywordReference id="com.rockwellcollins.atc.agree.ui.keyword_Agree"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.rockwellcollins.atc.agree.analysis.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
