/**************************************************************************
  Copyright (c) 2013, 2014, 2015 Rockwell Collins and the University of Minnesota.
  Developed with the sponsorship of the Defense Advanced Research Projects Agency (DARPA).

  Permission is hereby granted, free of charge, to any person obtaining a copy of this data,
  including any software or models in source or binary form, as well as any drawings, specifications, 
  and documentation (collectively "the Data"), to deal in the Data without restriction, including 
  without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
  and/or sell copies of the Data, and to permit persons to whom the Data is furnished to do so, 
  subject to the following conditions: 

  The above copyright notice and this permission notice shall be included in all copies or
  substantial portions of the Data.

  THE DATA IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT 
  LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
  IN NO EVENT SHALL THE AUTHORS, SPONSORS, DEVELOPERS, CONTRIBUTORS, OR COPYRIGHT HOLDERS BE LIABLE 
  FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, 
  ARISING FROM, OUT OF OR IN CONNECTION WITH THE DATA OR THE USE OR OTHER DEALINGS IN THE DATA. 

 **************************************************************************/


/**************************************************************************

   File: C:\docs\git\git_smaccm\smaccm\models\Trusted_Build_Test\can\components\can_node\src\smaccm_can_node.c.template
   Created on: 2016/05/11 22:39:52
   using Dulcimer AADL system build tool suite 

   ***AUTOGENERATED CODE: DO NOT MODIFY***

  This C file contains the implementations of the AADL primitives
  used by user-level declarations for thread can_node.   

  The user code runs in terms of "dispatchers", which cause 
  dispatch user-level handlers to execute.  These handlers can 
  communicate using the standard AADL primitives, which are mapped
  to C functions.

  The send/receive handlers are not thread safe in CAmkES; it is 
  assumed that this is handled by the CAmkES sequentialized access 
  to the dispatch handler.  There is only one dispatch interface 
  for the component containing all of the dispatch points.

  They are thread safe for eChronos.

  The read/write handlers are thread safe because the writer comes 
  through a dispatch interface but the reader is "local" on a dispatch
  interface and so contention may occur.


 **************************************************************************/
#include <smaccm_can_node.h>
#include <string.h>
#include <can_node.h>

///////////////////////////////////////////////////////////////////////////
//
// Local prototypes for AADL dispatchers
//
///////////////////////////////////////////////////////////////////////////
static void 
smaccm_can_node_send_0_dispatcher(can__can_frame_i * send_0); 
static void 
smaccm_can_node_send_1_dispatcher(can__can_frame_i * send_1); 
static void 
smaccm_can_node_send_2_dispatcher(can__can_frame_i * send_2); 
static void 
smaccm_can_node_abort_0_dispatcher(); 
static void 
smaccm_can_node_abort_1_dispatcher(); 
static void 
smaccm_can_node_abort_2_dispatcher(); 
 
 



/************************************************************************
 * 
 * Static variables and queue management functions for port:
 * 	send_0
 * 
 ************************************************************************/

static can__can_frame_i smaccm_queue_send_0 [1];
static bool smaccm_queue_full_send_0  = false;
static uint32_t smaccm_queue_front_send_0  = 0;
static uint32_t smaccm_queue_back_send_0  = 0;

bool smaccm_queue_is_full_send_0() {
	return (smaccm_queue_front_send_0 == smaccm_queue_back_send_0) && (smaccm_queue_full_send_0);
}

bool smaccm_queue_is_empty_send_0() {
	return (smaccm_queue_front_send_0 == smaccm_queue_back_send_0) && (!smaccm_queue_full_send_0); 
}

bool smaccm_queue_read_send_0(can__can_frame_i * send_0) {
	if (smaccm_queue_is_empty_send_0()) {
		return false;
	} else {
		memcpy(send_0, &smaccm_queue_send_0[smaccm_queue_back_send_0], sizeof(can__can_frame_i));

		smaccm_queue_back_send_0 = (smaccm_queue_back_send_0 + 1) % 1; 
		smaccm_queue_full_send_0 = false ; 
		return true;
	}
}

bool smaccm_queue_write_send_0(const can__can_frame_i * send_0) {
	if (smaccm_queue_is_full_send_0()) {
		return false;
	} else {
		memcpy(&smaccm_queue_send_0[smaccm_queue_front_send_0], send_0, sizeof(can__can_frame_i));

		smaccm_queue_front_send_0 = (smaccm_queue_front_send_0 + 1) % 1; 		
		if (smaccm_queue_back_send_0 == smaccm_queue_front_send_0) { 
			smaccm_queue_full_send_0 = true ; 
		}
		return true;
	}
}

/************************************************************************
 *  send_0_write_can__can_frame_i: 
 * Invoked by: remote interface.
 * 
 * This is the function invoked by a remote RPC to write to an active-thread
 * input event data port.  It queues the input message into a circular buffer.
 * 
 ************************************************************************/

bool send_0_write_can__can_frame_i(const can__can_frame_i * arg) {
	bool result;
	smaccm_can_node_send_0_mut_lock(); 
	result = smaccm_queue_write_send_0( arg);
	smaccm_can_node_send_0_mut_unlock(); 
	return result;
}


/************************************************************************
 *  can_node_read_send_0: 
 * Invoked from local active thread.
 * 
 * This is the function invoked by the active thread to read from the 
 * input event data queue circular buffer.
 * 
 ************************************************************************/

bool can_node_read_send_0(can__can_frame_i * arg) {
	bool result; 
	smaccm_can_node_send_0_mut_lock(); 
	result = smaccm_queue_read_send_0(arg);
	smaccm_can_node_send_0_mut_unlock(); 
	return result;
}


/************************************************************************
 * 
 * Static variables and queue management functions for port:
 * 	send_1
 * 
 ************************************************************************/

static can__can_frame_i smaccm_queue_send_1 [1];
static bool smaccm_queue_full_send_1  = false;
static uint32_t smaccm_queue_front_send_1  = 0;
static uint32_t smaccm_queue_back_send_1  = 0;

bool smaccm_queue_is_full_send_1() {
	return (smaccm_queue_front_send_1 == smaccm_queue_back_send_1) && (smaccm_queue_full_send_1);
}

bool smaccm_queue_is_empty_send_1() {
	return (smaccm_queue_front_send_1 == smaccm_queue_back_send_1) && (!smaccm_queue_full_send_1); 
}

bool smaccm_queue_read_send_1(can__can_frame_i * send_1) {
	if (smaccm_queue_is_empty_send_1()) {
		return false;
	} else {
		memcpy(send_1, &smaccm_queue_send_1[smaccm_queue_back_send_1], sizeof(can__can_frame_i));

		smaccm_queue_back_send_1 = (smaccm_queue_back_send_1 + 1) % 1; 
		smaccm_queue_full_send_1 = false ; 
		return true;
	}
}

bool smaccm_queue_write_send_1(const can__can_frame_i * send_1) {
	if (smaccm_queue_is_full_send_1()) {
		return false;
	} else {
		memcpy(&smaccm_queue_send_1[smaccm_queue_front_send_1], send_1, sizeof(can__can_frame_i));

		smaccm_queue_front_send_1 = (smaccm_queue_front_send_1 + 1) % 1; 		
		if (smaccm_queue_back_send_1 == smaccm_queue_front_send_1) { 
			smaccm_queue_full_send_1 = true ; 
		}
		return true;
	}
}

/************************************************************************
 *  send_1_write_can__can_frame_i: 
 * Invoked by: remote interface.
 * 
 * This is the function invoked by a remote RPC to write to an active-thread
 * input event data port.  It queues the input message into a circular buffer.
 * 
 ************************************************************************/

bool send_1_write_can__can_frame_i(const can__can_frame_i * arg) {
	bool result;
	smaccm_can_node_send_1_mut_lock(); 
	result = smaccm_queue_write_send_1( arg);
	smaccm_can_node_send_1_mut_unlock(); 
	return result;
}


/************************************************************************
 *  can_node_read_send_1: 
 * Invoked from local active thread.
 * 
 * This is the function invoked by the active thread to read from the 
 * input event data queue circular buffer.
 * 
 ************************************************************************/

bool can_node_read_send_1(can__can_frame_i * arg) {
	bool result; 
	smaccm_can_node_send_1_mut_lock(); 
	result = smaccm_queue_read_send_1(arg);
	smaccm_can_node_send_1_mut_unlock(); 
	return result;
}


/************************************************************************
 * 
 * Static variables and queue management functions for port:
 * 	send_2
 * 
 ************************************************************************/

static can__can_frame_i smaccm_queue_send_2 [1];
static bool smaccm_queue_full_send_2  = false;
static uint32_t smaccm_queue_front_send_2  = 0;
static uint32_t smaccm_queue_back_send_2  = 0;

bool smaccm_queue_is_full_send_2() {
	return (smaccm_queue_front_send_2 == smaccm_queue_back_send_2) && (smaccm_queue_full_send_2);
}

bool smaccm_queue_is_empty_send_2() {
	return (smaccm_queue_front_send_2 == smaccm_queue_back_send_2) && (!smaccm_queue_full_send_2); 
}

bool smaccm_queue_read_send_2(can__can_frame_i * send_2) {
	if (smaccm_queue_is_empty_send_2()) {
		return false;
	} else {
		memcpy(send_2, &smaccm_queue_send_2[smaccm_queue_back_send_2], sizeof(can__can_frame_i));

		smaccm_queue_back_send_2 = (smaccm_queue_back_send_2 + 1) % 1; 
		smaccm_queue_full_send_2 = false ; 
		return true;
	}
}

bool smaccm_queue_write_send_2(const can__can_frame_i * send_2) {
	if (smaccm_queue_is_full_send_2()) {
		return false;
	} else {
		memcpy(&smaccm_queue_send_2[smaccm_queue_front_send_2], send_2, sizeof(can__can_frame_i));

		smaccm_queue_front_send_2 = (smaccm_queue_front_send_2 + 1) % 1; 		
		if (smaccm_queue_back_send_2 == smaccm_queue_front_send_2) { 
			smaccm_queue_full_send_2 = true ; 
		}
		return true;
	}
}

/************************************************************************
 *  send_2_write_can__can_frame_i: 
 * Invoked by: remote interface.
 * 
 * This is the function invoked by a remote RPC to write to an active-thread
 * input event data port.  It queues the input message into a circular buffer.
 * 
 ************************************************************************/

bool send_2_write_can__can_frame_i(const can__can_frame_i * arg) {
	bool result;
	smaccm_can_node_send_2_mut_lock(); 
	result = smaccm_queue_write_send_2( arg);
	smaccm_can_node_send_2_mut_unlock(); 
	return result;
}


/************************************************************************
 *  can_node_read_send_2: 
 * Invoked from local active thread.
 * 
 * This is the function invoked by the active thread to read from the 
 * input event data queue circular buffer.
 * 
 ************************************************************************/

bool can_node_read_send_2(can__can_frame_i * arg) {
	bool result; 
	smaccm_can_node_send_2_mut_lock(); 
	result = smaccm_queue_read_send_2(arg);
	smaccm_can_node_send_2_mut_unlock(); 
	return result;
}



static uint32_t abort_0_index = 0;

bool smaccm_queue_is_full_abort_0() {
	return false;
}

bool smaccm_queue_is_empty_abort_0() {
	return abort_0_index == 0; 
}

/************************************************************************
 *  abort_0_write_void: 
 * Invoked by: remote RPC
 * 
 * This is the function invoked by a remote RPC to write to an active-thread
 * input event port.  It increments a count of received messages.
 * 
 ************************************************************************/

bool abort_0_write_void() {
	bool result; 
	smaccm_can_node_abort_0_mut_lock(); 
	// Note: possibility for overflow here - I have set (arbitrary) maximum.
	if (abort_0_index < 32767) {
	  result = true; 
	  abort_0_index++;
	} else {
	  result = false;
	}
	smaccm_can_node_abort_0_mut_unlock(); 
	return true;
}

/************************************************************************
 *  can_node_read_abort_0: 
 * Invoked from local active thread.
 * 
 * This is the function invoked by the active thread to decrement the 
 * input event index.
 * 
 ************************************************************************/

bool can_node_read_abort_0() {
	bool result; 
	smaccm_can_node_abort_0_mut_lock(); 
	if (abort_0_index > 0) {
		abort_0_index--;
		result = true;
	} else {
		result = false;
	}
	smaccm_can_node_abort_0_mut_unlock(); 
	return result;
}


static uint32_t abort_1_index = 0;

bool smaccm_queue_is_full_abort_1() {
	return false;
}

bool smaccm_queue_is_empty_abort_1() {
	return abort_1_index == 0; 
}

/************************************************************************
 *  abort_1_write_void: 
 * Invoked by: remote RPC
 * 
 * This is the function invoked by a remote RPC to write to an active-thread
 * input event port.  It increments a count of received messages.
 * 
 ************************************************************************/

bool abort_1_write_void() {
	bool result; 
	smaccm_can_node_abort_1_mut_lock(); 
	// Note: possibility for overflow here - I have set (arbitrary) maximum.
	if (abort_1_index < 32767) {
	  result = true; 
	  abort_1_index++;
	} else {
	  result = false;
	}
	smaccm_can_node_abort_1_mut_unlock(); 
	return true;
}

/************************************************************************
 *  can_node_read_abort_1: 
 * Invoked from local active thread.
 * 
 * This is the function invoked by the active thread to decrement the 
 * input event index.
 * 
 ************************************************************************/

bool can_node_read_abort_1() {
	bool result; 
	smaccm_can_node_abort_1_mut_lock(); 
	if (abort_1_index > 0) {
		abort_1_index--;
		result = true;
	} else {
		result = false;
	}
	smaccm_can_node_abort_1_mut_unlock(); 
	return result;
}


static uint32_t abort_2_index = 0;

bool smaccm_queue_is_full_abort_2() {
	return false;
}

bool smaccm_queue_is_empty_abort_2() {
	return abort_2_index == 0; 
}

/************************************************************************
 *  abort_2_write_void: 
 * Invoked by: remote RPC
 * 
 * This is the function invoked by a remote RPC to write to an active-thread
 * input event port.  It increments a count of received messages.
 * 
 ************************************************************************/

bool abort_2_write_void() {
	bool result; 
	smaccm_can_node_abort_2_mut_lock(); 
	// Note: possibility for overflow here - I have set (arbitrary) maximum.
	if (abort_2_index < 32767) {
	  result = true; 
	  abort_2_index++;
	} else {
	  result = false;
	}
	smaccm_can_node_abort_2_mut_unlock(); 
	return true;
}

/************************************************************************
 *  can_node_read_abort_2: 
 * Invoked from local active thread.
 * 
 * This is the function invoked by the active thread to decrement the 
 * input event index.
 * 
 ************************************************************************/

bool can_node_read_abort_2() {
	bool result; 
	smaccm_can_node_abort_2_mut_lock(); 
	if (abort_2_index > 0) {
		abort_2_index--;
		result = true;
	} else {
		result = false;
	}
	smaccm_can_node_abort_2_mut_unlock(); 
	return result;
}



// NOT writing dispatch variables for port recv
// NOT writing dispatch variables for port status_0
// NOT writing dispatch variables for port status_1
// NOT writing dispatch variables for port status_2


 
 
 
 
 
 

/************************************************************************
 *  dispatch_dispatch_send_0: 
 * Invoked by remote RPC (or, for active thread, local dispatcher).
 * 
 * This is the function invoked by an active thread dispatcher to 
 * call to a user-defined entrypoint function.  It sets up the dispatch
 * context for the user-defined entrypoint, then calls it.
 * 
 ************************************************************************/

void dispatch_dispatch_send_0(
  const can__can_frame_i * in_arg ,
  smaccm_can_node_send_0_struct *out_arg) {
}	


/************************************************************************
 *  dispatch_dispatch_send_1: 
 * Invoked by remote RPC (or, for active thread, local dispatcher).
 * 
 * This is the function invoked by an active thread dispatcher to 
 * call to a user-defined entrypoint function.  It sets up the dispatch
 * context for the user-defined entrypoint, then calls it.
 * 
 ************************************************************************/

void dispatch_dispatch_send_1(
  const can__can_frame_i * in_arg ,
  smaccm_can_node_send_1_struct *out_arg) {
}	


/************************************************************************
 *  dispatch_dispatch_send_2: 
 * Invoked by remote RPC (or, for active thread, local dispatcher).
 * 
 * This is the function invoked by an active thread dispatcher to 
 * call to a user-defined entrypoint function.  It sets up the dispatch
 * context for the user-defined entrypoint, then calls it.
 * 
 ************************************************************************/

void dispatch_dispatch_send_2(
  const can__can_frame_i * in_arg ,
  smaccm_can_node_send_2_struct *out_arg) {
}	


/************************************************************************
 *  dispatch_dispatch_abort_0: 
 * Invoked by remote RPC (or, for active thread, local dispatcher).
 * 
 * This is the function invoked by an active thread dispatcher to 
 * call to a user-defined entrypoint function.  It sets up the dispatch
 * context for the user-defined entrypoint, then calls it.
 * 
 ************************************************************************/

void dispatch_dispatch_abort_0(smaccm_can_node_abort_0_struct *out_arg) {
}	


/************************************************************************
 *  dispatch_dispatch_abort_1: 
 * Invoked by remote RPC (or, for active thread, local dispatcher).
 * 
 * This is the function invoked by an active thread dispatcher to 
 * call to a user-defined entrypoint function.  It sets up the dispatch
 * context for the user-defined entrypoint, then calls it.
 * 
 ************************************************************************/

void dispatch_dispatch_abort_1(smaccm_can_node_abort_1_struct *out_arg) {
}	


/************************************************************************
 *  dispatch_dispatch_abort_2: 
 * Invoked by remote RPC (or, for active thread, local dispatcher).
 * 
 * This is the function invoked by an active thread dispatcher to 
 * call to a user-defined entrypoint function.  It sets up the dispatch
 * context for the user-defined entrypoint, then calls it.
 * 
 ************************************************************************/

void dispatch_dispatch_abort_2(smaccm_can_node_abort_2_struct *out_arg) {
}	



/************************************************************************
 * can_node_write_recv 
 * Invoked from local active or passive thread.
 * 
 * This is the comm function invoked by a user-level thread to send a message 
 * to another thread.  If the target is an active thread, it calls an 
 * RPC on the target thread to queue the data.  If it is a passive thread, 
 * it locally enqueues the request to be sent when the user thread
 * completes execution.
 * 
 ************************************************************************/

bool can_node_write_recv(const can__can_frame_i * recv) {
	bool result = true;
	result &= can_node_recv_receiver_input_write_can__can_frame_i(recv);			


	return result;
}

/************************************************************************
 * can_node_write_status_0 
 * Invoked from local active or passive thread.
 * 
 * This is the comm function invoked by a user-level thread to send a message 
 * to another thread.  If the target is an active thread, it calls an 
 * RPC on the target thread to queue the data.  If it is a passive thread, 
 * it locally enqueues the request to be sent when the user thread
 * completes execution.
 * 
 ************************************************************************/

bool can_node_write_status_0(const bool * status_0) {
	bool result = true;
	result &= can_node_status_0_sender_status_0_write_bool(status_0);			


	return result;
}

/************************************************************************
 * can_node_write_status_1 
 * Invoked from local active or passive thread.
 * 
 * This is the comm function invoked by a user-level thread to send a message 
 * to another thread.  If the target is an active thread, it calls an 
 * RPC on the target thread to queue the data.  If it is a passive thread, 
 * it locally enqueues the request to be sent when the user thread
 * completes execution.
 * 
 ************************************************************************/

bool can_node_write_status_1(const bool * status_1) {
	bool result = true;
	result &= can_node_status_1_sender_status_1_write_bool(status_1);			


	return result;
}

/************************************************************************
 * can_node_write_status_2 
 * Invoked from local active or passive thread.
 * 
 * This is the comm function invoked by a user-level thread to send a message 
 * to another thread.  If the target is an active thread, it calls an 
 * RPC on the target thread to queue the data.  If it is a passive thread, 
 * it locally enqueues the request to be sent when the user thread
 * completes execution.
 * 
 ************************************************************************/

bool can_node_write_status_2(const bool * status_2) {
	bool result = true;
	result &= can_node_status_2_sender_status_2_write_bool(status_2);			


	return result;
}


/************************************************************************
 * 
smaccm_can_node_send_0_dispatcher
 * Invoked from local active thread.
 * 
 * This is the dispatcher function invoked to respond to an incoming thread 
 * stimulus: an ISR, a periodic dispatch, or a queued event.
 * 
 ******************************************************************************/
static smaccm_can_node_send_0_struct smaccm_can_node_send_0_arg;

void 
smaccm_can_node_send_0_dispatcher(can__can_frame_i * send_0) {

	 
	// make the call: 
	dispatch_dispatch_send_0( send_0,
  &smaccm_can_node_send_0_arg	
		); 
	 

}
/************************************************************************
 * 
smaccm_can_node_send_1_dispatcher
 * Invoked from local active thread.
 * 
 * This is the dispatcher function invoked to respond to an incoming thread 
 * stimulus: an ISR, a periodic dispatch, or a queued event.
 * 
 ******************************************************************************/
static smaccm_can_node_send_1_struct smaccm_can_node_send_1_arg;

void 
smaccm_can_node_send_1_dispatcher(can__can_frame_i * send_1) {

	 
	// make the call: 
	dispatch_dispatch_send_1( send_1,
  &smaccm_can_node_send_1_arg	
		); 
	 

}
/************************************************************************
 * 
smaccm_can_node_send_2_dispatcher
 * Invoked from local active thread.
 * 
 * This is the dispatcher function invoked to respond to an incoming thread 
 * stimulus: an ISR, a periodic dispatch, or a queued event.
 * 
 ******************************************************************************/
static smaccm_can_node_send_2_struct smaccm_can_node_send_2_arg;

void 
smaccm_can_node_send_2_dispatcher(can__can_frame_i * send_2) {

	 
	// make the call: 
	dispatch_dispatch_send_2( send_2,
  &smaccm_can_node_send_2_arg	
		); 
	 

}
/************************************************************************
 * 
smaccm_can_node_abort_0_dispatcher
 * Invoked from local active thread.
 * 
 * This is the dispatcher function invoked to respond to an incoming thread 
 * stimulus: an ISR, a periodic dispatch, or a queued event.
 * 
 ******************************************************************************/
static smaccm_can_node_abort_0_struct smaccm_can_node_abort_0_arg;

void 
smaccm_can_node_abort_0_dispatcher() {

	 
	// make the call: 
	dispatch_dispatch_abort_0(&smaccm_can_node_abort_0_arg	
		); 
	 

}
/************************************************************************
 * 
smaccm_can_node_abort_1_dispatcher
 * Invoked from local active thread.
 * 
 * This is the dispatcher function invoked to respond to an incoming thread 
 * stimulus: an ISR, a periodic dispatch, or a queued event.
 * 
 ******************************************************************************/
static smaccm_can_node_abort_1_struct smaccm_can_node_abort_1_arg;

void 
smaccm_can_node_abort_1_dispatcher() {

	 
	// make the call: 
	dispatch_dispatch_abort_1(&smaccm_can_node_abort_1_arg	
		); 
	 

}
/************************************************************************
 * 
smaccm_can_node_abort_2_dispatcher
 * Invoked from local active thread.
 * 
 * This is the dispatcher function invoked to respond to an incoming thread 
 * stimulus: an ISR, a periodic dispatch, or a queued event.
 * 
 ******************************************************************************/
static smaccm_can_node_abort_2_struct smaccm_can_node_abort_2_arg;

void 
smaccm_can_node_abort_2_dispatcher() {

	 
	// make the call: 
	dispatch_dispatch_abort_2(&smaccm_can_node_abort_2_arg	
		); 
	 

}

 
////////////////////////////////////////////////////////////////////////////
//
// NOTE: External thread, so we assume the run function is externally declared.
//
////////////////////////////////////////////////////////////////////////////


/**************************************************************************
  End of autogenerated file: C:\docs\git\git_smaccm\smaccm\models\Trusted_Build_Test\can\components\can_node\src\smaccm_can_node.c.template
 **************************************************************************/
