<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.osate.ge.businessObjectProviders">
      <provider
            class="edu.uah.rsesc.agree.ge.AgreeBusinessObjectProvider">
      </provider>
   </extension>
   <extension
         point="org.osate.ge.businessObjectHandlers">
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.AgreeContractLibraryHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.AgreeContractSubclauseHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.AssertStatementHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.AssumeStatementHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.ConstStatementHandler">
	  </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.EnumerationStatementHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.EquationStatementHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.GuaranteeStatementHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.LemmaStatementHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.LinearizationDefHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.NodeDefHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.PropertyStatementHandler">
      </handler>
      <handler
            class="edu.uah.rsesc.agree.ge.businessObjectHandlers.RecordDefExpressionHandler">
      </handler>
   </extension>
   <extension
         point="org.osate.ge.references">
      <referenceBuilder
            class="edu.uah.rsesc.agree.ge.AgreeReferenceHandler">
      </referenceBuilder>
      <referenceResolver
            class="edu.uah.rsesc.agree.ge.AgreeReferenceHandler">
      </referenceResolver>
   </extension>
   <extension
         point="org.osate.ge.categories">
      <category
            id="edu.uah.rsesc.agree.ge.categories.agree"
            name="AGREE"
            order="250">
      </category>
   </extension>
   <extension
         point="org.osate.ge.contentFilters">
      <contentFilter
            class="edu.uah.rsesc.agree.ge.filtering.AgreeFilter">
      </contentFilter>
      <contentFilter
            class="edu.uah.rsesc.agree.ge.filtering.SpecStatementFilterFactory">
      </contentFilter>
   </extension>
</plugin>
